<div class="container">
  <form [formGroup]="form" (ngSubmit)="submit()">
    <h1 mat-dialog-title>{{ 'boards.edit-card.edit-task' | translate }}</h1>
    <div class="avatar">{{userName}}</div>
    <div mat-dialog-content class="content">

      <div class="edit-block title-block" *ngIf="!isEditTitleEnable" (click)="isEditTitleEnable = !isEditTitleEnable">
        <mat-icon class="icon">title</mat-icon>
        <h4>{{this.title}}</h4>
      </div>

      <div class="edit-block" *ngIf="isEditTitleEnable">
        <mat-form-field appearance="fill" >
          <mat-label>{{ 'boards.new-task.title' | translate }}</mat-label>
          <input formControlName="title" matInput [placeholder]="this.title"/>
          <mat-error *ngIf="form.get('title')!.errors?.['minlength']">
            {{ 'boards.new-task.title-short' | translate }}
          </mat-error>
          <mat-error *ngIf="form.get('title')!.errors?.['maxlength']">
            {{ 'boards.new-task.title-long' | translate }}
          </mat-error>
        </mat-form-field>
        <button mat-icon-button (click)="editTitle()">
          <mat-icon>check_circle </mat-icon>
        </button>
        <button mat-icon-button (click)="isEditTitleEnable = !isEditTitleEnable">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>

      <div class="edit-block description-block" *ngIf="!isEditDescriptionEnable"
        (click)="isEditDescriptionEnable = !isEditDescriptionEnable">
        <mat-icon class="icon">view_headline</mat-icon>
        <p class="description">{{this.description}}</p>
      </div>
      <div class="edit-block" *ngIf="isEditDescriptionEnable">
        <mat-form-field appearance="fill">
          <mat-label>{{ 'boards.new-task.description' | translate }}</mat-label>
          <textarea matInput formControlName="description" [placeholder]="this.description"></textarea>
        </mat-form-field>
        <button mat-icon-button (click)="editDescription()">
          <mat-icon>check_circle </mat-icon>
        </button>
        <button mat-icon-button (click)="isEditDescriptionEnable = !isEditDescriptionEnable">
          <mat-icon>cancel</mat-icon>
        </button>
      </div>
        <div>
          <input type="file" class="file-input"
          (change)="onFileSelected($event)" #fileUpload>

          <button mat-mini-fab color="primary" class="upload-btn"
              (click)="fileUpload.click()">
                <mat-icon>attach_file</mat-icon>
          </button>
        </div>


      <div class="file-upload" *ngIf="fileName||file.filename">
        {{fileName || file.filename}}
        <button mat-mini-fab color="primary" class="download-btn"
            (click)="download(file.filename)">
              <mat-icon>file_download</mat-icon>
        </button>
      </div>
    </div>
    <div mat-dialog-actions class="form-buttons">
      <button mat-button class="submit-button" type="submit" [disabled]="form.invalid" mat-dialog-close>
        {{ 'edit' | translate }}
      </button>
      <button mat-stroked-button type="button" mat-dialog-close>{{ 'close' | translate }}</button>
    </div>
  </form>
</div>
