.content {
  display: flex;
  flex-direction: column;
}

.form-buttons {
  display: flex;
  justify-content: space-between;
}

.submit-button {
  background-color: var(--text-color-light);
  color: var(--main-color);
  transition: 0.3s ease-in-out;
  &:disabled {
    cursor: not-allowed;
    background-color: rgba(255,255,255,.12);
    &:hover {
      background-color: rgba(255,255,255,.12);
    }
  }
  &:hover {
    background-color: #a8a5ff;
    transition: 0.3s ease-in-out;
  }
}

mat-error ::ng-deep{
  color: rgb(254, 160, 160);
}

.edit-block ::ng-deep .mat-icon {
  color: var(--text-color-light);
}

.edit-block ::ng-deep .mat-icon:hover {
  color: var(--error-color);
}

.content h4, .content p {
  cursor: pointer;
}

.description {
  max-height: 30vh;
  max-width: 300px;
  overflow-y: auto;
  word-wrap: break-word;
  font-size: 0.8rem;
}

.title-block, .description-block {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-bottom: 20px;
}

.description-block {
  align-items: start;
}

.icon {
  margin-right: 10px;
}
