@import url('https://fonts.googleapis.com/css?family=Roboto');

:root {
  --main-color: #5854b7;
  --text-color-light: #eff3ff;
  --text-color-dark: #101010;
  --buttons-disabled-hover-color: rgba(255, 255, 255, 0.122);
  --buttons-hover-color: #a8a5ff;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  line-height: 1.6;
  background-color: #fff;
  color: #333;
}

a {
  cursor: pointer;
  text-decoration: none;
}

ul {
  list-style: none;
}
