mat-error ::ng-deep{
  color: rgb(254, 160, 160);
}

.container {
  height: 200px;
  text-align: center;
}

.mat-form-field-wrapper {
  width: 100%;
}

.form-buttons {
  display: flex;
  justify-content: space-evenly;
}

.submit-button {
  background-color: var(--text-color-light);
  color: var(--main-color);
  transition: 0.3s ease-in-out;
  &:disabled {
    cursor: not-allowed;
    background-color: rgba(255,255,255,.12);
    &:hover {
      background-color: rgba(255,255,255,.12);
    }
  }
  &:hover {
    background-color: #a8a5ff;
    transition: 0.3s ease-in-out;
  }
}
