header {
  background: var(--main-color);

}

.header-section {
  margin: 0 auto;
  color: var(--text-color-light);
  display: flex;
  justify-content: space-between;
  align-items: center;
  max-width: 1440px;
  padding: 10px 20px;
  height: 10vh;
}

.right-block,
.left-block {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.left-block {
  width: 50%;
}

.logo-icon {
  width: 60px;
}

.vertical-line {
  border-left: 1px solid var(--text-color-light);
  height: 20px;
  margin-left: 15px;
}

.toggle-block {
  margin-right: 40px;
}

.new-board-btn {
  font-weight: normal;
  font-size: 20px;
  align-self: center;
  padding: 10px 25px;
  position: relative;
  transition: 0.3s ease-out;
  &:disabled {
    &:hover {
      cursor: not-allowed;
      &::after {
        display: block;
        position: absolute;
        left: -10%;
        top: 100%;
        background-color: var(--text-color-light);
        color: var(--main-color);
        padding: 5px;
        font-size: 1rem;
        border-radius: 5px;
        content: 'Please, login to create new board';
        transition: 0.3s ease-out;
      }
    }

  }
}

.sticky {
  position: fixed;
  width: 100%;
  -webkit-box-shadow: 0px 5px 18px -2px rgba(34, 60, 80, 0.74);
  -moz-box-shadow: 0px 5px 18px -2px rgba(34, 60, 80, 0.74);
  box-shadow: 0px 5px 18px -2px rgba(34, 60, 80, 0.74);
  background-color: rgba(88, 84, 183, 0.5);
  backdrop-filter: blur(5px);
  transition: 0.8s ease-in;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}

.noSticky {
  position: static;
  transition: 0.2s ease-out;
}

::ng-deep .account-buttons {
  background-color: var(--main-color);
}

.lang-select {
  width: 18%;
}

@media (max-width: 1150px) {
  .right-block {
    width: 40%;
  }
  .mat-form-field {
    width: 90px;
  }
}

@media (max-width: 980px) {
  .mat-form-field {
    width: 80px;
  }
}

@media (max-width: 820px) {
  .header-section {
    flex-direction: column;
    height: 13vh;
  }
  .left-block {
    width: 100%;
    justify-content: start;
  }
  .right-block {
    width: 100%;
  }
  .new-board-btn {
    margin-left: 30%;
    font-size: 16px;
    padding: 10px 20px;
  }
  .logo-icon {
    width: 40px;
  }
  .mat-form-field {
    width: 150px;
  }
}

@media (max-width: 500px) {
  .mat-form-field {
    width: 100px;
  }
  .right-block {
    width: 100%;
  }
  .new-board-btn {
    margin-left: 20%;
  }
}

@media (max-width: 375px) {
  .new-board-btn {
    margin-left: 10%;
  }
  .mat-form-field {
    width: 50px;
  }
  .vertical-line {
    margin-left: 5px;
  }
}

.lang-select-option {
  background-color: var(--main-color);
}

::ng-deep .mat-form-field {
  font-size: 12px;
}
