<div class="board-preview-container">
  <div class="board-preview-item">
    <a href="/main" class="board-link">
      <div class="board-title">
        Board title
      </div>
    </a>
    <button mat-icon-button (click)="openDialog()">
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <div class="board-preview-item">
    <a href="/main" class="board-link">
      <div class="board-title">
        Board title
      </div>
    </a>
    <button mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <div class="board-preview-item">
    <a href="/main" class="board-link">
      <div class="board-title">
        Board title
      </div>
    </a>
    <button mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <div class="board-preview-item">
    <a href="/main" class="board-link">
      <div class="board-title">
        Board title
      </div>
    </a>
    <button mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <div class="board-preview-item">
    <a href="/main" class="board-link">
      <div class="board-title">
        Board title
      </div>
    </a>
    <button mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <div class="board-preview-item">
    <a href="/main" class="board-link">
      <div class="board-title">
        Board title
      </div>
    </a>
    <button mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
  </div>

  <div class="board-preview-item">
    <a href="/main" class="board-link">
      <div class="board-title">
        Board title
      </div>
    </a>
    <button mat-icon-button>
      <mat-icon>delete</mat-icon>
    </button>
  </div>

</div>
