<main>
  <div class="main-section">
    <div class="app-background">
      <h1 class="app-title">KANBY</h1>
      <p class="app-description">
        Kanby is the flexible work management tool where teams can ideate plans, collaborate on projects, organize
        workflows, and track progress in a visual, productive, and rewarding way
      </p>
      <div class="example-button-row">
        <p>Delete routing buttons later</p>
        <button [routerLink]="['/main']" mat-raised-button>main</button>
        <button [routerLink]="['/auth']" mat-raised-button color="primary">auth</button>
        <button [routerLink]="['/signup']" mat-raised-button color="accent">signup</button>
        <button [routerLink]="['/404']" mat-raised-button color="warn">404</button>
        <button [routerLink]="['/edit-profile']" mat-raised-button>edit-profile</button>
      </div>
      <div [ngStyle]="{ border: '3px green solid', width: 'fit-content' }">
        <h3>Translation example</h3>
        <h4>{{ 'TITLE' | translate }}</h4>
      </div>
    </div>
  </div>
</main>
