<main>
  <div class="main-section">
    <div class="app-background">
      <h1 class="app-title">KANBY</h1>
      <p class="app-description">{{ 'core.main.kanby-description' | translate }}</p>
      <div class="example-button-row">
        <p>Delete routing buttons later</p>
        <button [routerLink]="['/main']" mat-raised-button>main</button>
        <button [routerLink]="['/auth']" mat-raised-button color="primary">auth</button>
        <button [routerLink]="['/signup']" mat-raised-button color="accent">signup</button>
        <button [routerLink]="['/404']" mat-raised-button color="warn">404</button>
        <button [routerLink]="['/edit-profile']" mat-raised-button>edit-profile</button>
      </div>
    </div>
  </div>
  <div class="welcome-section">
    <h2 class="course">{{ 'core.main.team-info' | translate }}</h2>
    <div class="team-wrapper">
      <div class="developer-wrapper">
        <img class="developer-photo" src="../../../assets/images/geeky-cat-boy.png" alt="geeky-cat" />
        <h3 class="developer-name">{{ 'core.main.shyshko' | translate }}</h3>
        <p class="developer-description">
          {{ 'core.main.shyshko-work' | translate }}
        </p>
      </div>
      <div class="developer-wrapper">
        <img class="developer-photo" src="../../../assets/images/geeky-cat-girl.png" alt="geeky-cat" />
        <h3 class="developer-name">{{ 'core.main.komosko' | translate }}</h3>
        <p class="developer-description">
          {{ 'core.main.komosko-work' | translate }}
        </p>
      </div>
      <div class="developer-wrapper">
        <img class="developer-photo" src="../../../assets/images/geeky-cat-boy.png" alt="geeky-cat" />
        <h3 class="developer-name">{{ 'core.main.shapialevich' | translate }}</h3>
        <p class="developer-description">
          {{ 'core.main.shapialevich-work' | translate }}
        </p>
      </div>
    </div>
    <div class="description-video-wrapper">
      <iframe
        class="description-video"
        width="560"
        height="315"
        src="https://www.youtube.com/embed/qiROY3tHKrU"
        title="YouTube video player"
        frameborder="0"
        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
        allowfullscreen
      ></iframe>
    </div>
  </div>
</main>
